# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Stef Dunlap
	email = hello@kindrobot.ca

[core]
	editor = nvim

[alias]
	s = status
	co = checkout
	ci = commit
