# Turn CanonicalizeHostname on for Match to work below.
CanonicalizeHostname yes

# Defaults for all Wikimedia Foundation hosts.
Match host "*.wikimedia.org,*.wmnet"
    ForwardAgent no
    IdentitiesOnly yes
    KbdInteractiveAuthentication no
    PasswordAuthentication no
    User kindrobot

# geographically prefered bastion for WMF production deploy servers
Host bast
    HostName bast1003.wikimedia.org
    IdentityFile ~/.ssh/wmf_prod.key
    User kindrobot

# defaults for any other WMF production bastions we might encounter
Host bast*.wikimedia.org
    IdentityFile ~/.ssh/wmf_prod.key

# WMF deployment production servers, routed through a bastion
Host *.wmnet *.wikimedia.org !gerrit.wikimedia.org !bast*.wikimedia.org !gitlab.wikimedia.org
    ProxyJump bast
    IdentityFile ~/.ssh/wmf_prod.key


# wikimedia's gerrit
Host gerrit.wikimedia.org
    Port 29418

# WMF CloudVPS access (including toolforge)
Host *.wmflabs.org *.wmcloud.org *.toolforge.org
    User kindrobot
    IdentityFile ~/.ssh/wmf_cloudvps_ed25519.key

Host *.wmflabs *.wikimedia.cloud
    User kindrobot
    ProxyJump bastion.wmcloud.org:22
    IdentityFile ~/.ssh/wmf_cloudvps_ed25519.key

Host gitlab.wikimedia.org
    IdentityFile ~/.ssh/wmf_gitlab_ed25519.key

Host tilde.town
    Hostname tilde.town
    User kindrobot
    IdentityFile ~/.ssh/town_ed25519.key
    ForwardAgent yes
    AddressFamily inet

Host team
    Hostname tilde.team
    User kindrobot
    ForwardAgent yes

Host github.com
    IdentityFile ~/.ssh/github_ed25519.key

Host home
    Hostname kindrobot.ca
Port 4222
    ForwardAgent yes
